/* Existing styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gradient-text {
  background: linear-gradient(90.17deg, #0062CE 8.77%, #DAED00 77.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Base font size */
.responsive-heading {
  font-size: 6.5rem; /* Default size */
}

.responsive-text {
  font-size: 1.5rem; /* Default size */
}

.responsive-large-numbers {
  font-size: 15rem; /* Default size */
}



/* Medium screens */
@media (max-width: 768px) {
  .responsive-heading {
    font-size: 3rem;
  }

  .responsive-text {
    font-size: 0.8rem;
  }

  .responsive-large-numbers {
    font-size: 10rem;
  }
}

@media (max-width: 480px) {
  .text-left {
    /* Adjust layout for smaller screens */
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }

  .responsive-large-numbers {
    position: relative;
    flex-direction: row;
    justify-content: center;
    font-size: 4rem;
    opacity: 100%; /* Increase visibility */
  }
}


.tinted-image {
  filter: brightness(30%);
  transition: opacity 4s ease-in-out; /* Adjust the duration and easing as needed */
  pointer-events: none; /* Disables clicking on the image */
  user-select: none; /* Prevents text selection */
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out; /* Adjust as needed */
}