@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gradient-text {
  background: linear-gradient(90.17deg, #0062CE 8.77%, #DAED00 77.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Dragon Hacks turns 10! */
